.main {
  text-align: center;
  height: 100%;
  background: linear-gradient(to bottom, #00bcd6 0%,#0091c6 100%);
  overflow: auto;
}
.inline {
  display: inline-block;
}

.padding {
  margin: 1em;
}
video {
  width: 100%
}


.videoContainer {
  margin-top: 48px;
}

.addtext {
  margin-top: 50px;
  color: #FFF;
}
