.page {
  background: linear-gradient(to bottom, #00bcd6 0%,#0091c6 100%);
  width: 100%;
  height: 100%;
  overflow: auto;
}


.stackContainer {
  margin-top: 30px!important;
  display: table;
  margin: 0 auto;
}


.reloadButton {
  position: absolute;
  bottom: 0;
}
